<h2 style="color:Brown"> Variables</h2>

In [2]:
name = "mike"  ## Assigning a value to a variable
print(name)

mike

In [ ]:
name = input("Enter your name : ")
print("Welcome", name)

In [4]:
age =29
print(age)

29

In [5]:
age

29

In [1]:
name = input("Enter your name : ")

Enter your name : Jyoti Kataria

In [7]:
print("The entered name is" , name)

The entered name is Jyoti Kataria

<h2 style="color:Brown"> Constants</h2>

In [8]:
x = 10
print(x)

10

In [9]:
@the = 9

SyntaxError: invalid syntax (<ipython-input-9-52900437d3ae>, line 1)

In [11]:
_the = 9

In [12]:
_the

9

In [14]:
HAGT = "Machine Learning"

<h2 style="color:Brown"> Data Types in Python

- Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [15]:
integer_num = 1
floating_num = 1.3
string = "Mike"
boolean = True

print (type(integer_num))
print (type(floating_num))
print (type(string))
print (type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [16]:
classes_in_python = ["int", "float", "str", "bool"]

In [17]:
classes_in_python

['int', 'float', 'str', 'bool']

- Type Casting in Python

In [18]:
a = 24
print("The a variable value is", a)
print("The data type of a is", type(a))
print("The data in boolean is", bool(a))
print("The data in float is ",float(a))
#print( str(a))
print(a)
int(a)

The a variable value is 24
The data type of a is <class 'int'>
The data in boolean is True
The data in float is  24.0
24

In [ ]:
Boolean : True or False
    1 or 0

In [20]:
type(a)

int

<h2 style="color:Brown"> Arithmetic Operations

In [20]:
a = 6
b = 7

addition=a+b

print("Addition =", addition)

print("Addition = ", a + b)  
print("Subraction = ", a - b) 
print("Multiplication = ", a * b) 
print("Division = ", a / b)

Addition = 13
Addition =  13
Subraction =  -1
Multiplication =  42
Division =  0.8571428571428571

In [24]:
a + b # Preferred writing way

13

In [25]:
a - b

-1

In [27]:
print("Addition  =  a + b")

Addition  =  a + b

In [30]:
#Floor Division
print("Floor Division = ", a // b)

Floor Division =  0

In [21]:
4//3

1

In [22]:
6//4

1

In [23]:
12//5

2

In [28]:
a

6

In [29]:
b

7

In [31]:
print("Floor Division = ", a // b)

Floor Division =  0

In [33]:
x = 3
y = 2

x//y

1

In [34]:
#Remainder
print("Modulus or remainder",a % b)

Modulus or remainder 6

In [35]:
print("what is the result of 13456 % 1234")

what is the result of 13456 % 1234

In [36]:
13456 % 1234

1116

In [37]:
print("345 to the power 5")

345 to the power 5

In [39]:
345**5

4887597965625

In [24]:
2**5

32

In [38]:
print("24 to the power 2")

24 to the power 2

In [40]:
24**2

576

In [8]:
#Exponential
print("Exponential = ", a ** b)

Exponential =  279936

- Expression executes following the operator precedence rule
- https://docs.python.org/3.7/reference/expressions.html?#operator-precedence

In [41]:
print((4 * 5) - 9 + 6 / 7) ## BODMAS  20-9+0.8

11.857142857142858

<h2 style="color:Brown"> String Operations

In [42]:
#Whenever we are assigning a char or string we use '' which represents a character
c = 'z'
d = 'Mike'
#You can also use " " double quotes instead of single quotes for strings
e = "John"

In [26]:
print("What is your \t \t name \n \n")
print("Where are you from \n")

What is your 	 	 name


Where are you from

In [37]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

a=(4 * 5) - 9 + 6 / 7
type(a)
type(a)
type(a)
type(a)
#print(the data type of a is, type(a))

## Convert the datatype into integer

int(a)

float

float

float

float

11

In [ ]:
\n new line
\t tab

In [47]:
print('What is your \t \t name \n')

What is your 	 	 name

#### Indexing In Strings <br>
- Forward indexing starts with 0
- Reverse indexing start with last character as -1 in a python string
- Strings are immutable which means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [49]:
Five_numbers = [1, 2, 3, 4, 5]

In [50]:
Five_numbers[-1]

5

In [52]:
Five_numbers[0]

1

In [39]:
# len() function
string = "ABCDEFGH"
len(string)

8

In [40]:
#Accessing first character
string[0]
string[7]

'A'

'H'

In [41]:
#Accessing last character using negative indexing
string[-1] 
string[-2]

'H'

'G'

In [61]:
# Trying to change the character at index 2 ## We cannot change a string or mutate it
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [59]:
string[2]

'C'

In [60]:
string

'ABCDEFGH'

In [4]:
# Changing the entire string
string = "Ghi@12jkl"
print (string)

Ghi@12jkl

In [63]:
#string concatenation : joining

first_name = "Monty"
last_name = 'Python'

In [69]:
print("The name is: " + first_name+" "+last_name) ## You can use comma also

The name is: Monty Python

In [71]:
# type casting using str() function 
age = 30

In [ ]:
Output:
    
My name is Jyoti Kataria.
My favourite series is _____


Code:

In [ ]:
first_name= "Anagha"
last_name= "Nair"
print("The name is:"+first_name+" "+last_name)
s=input("Enter your favourite series")
print("The fav series of:"+first_name+last_name+"is " + s)

In [ ]:
first_name= "Krupa"
last_name= "Sampat"
print("The name is:"+first_name+" "+last_name")

In [ ]:
age=30

In [72]:
print("I am "+ str(age) + " years old")

I am 30 years old

In [75]:
print("I am "+ age + " years old")

TypeError: can only concatenate str (not "int") to str

#### Slicing In Strings
- string[start:end:step]

In [78]:
#slicing by specifying start and end index
statement = "Python programming is fun"
             01234567

sliced_statement = statement[0:7]
print(sliced_statement)

Python

In [81]:
statement[7]

'p'

In [82]:
statement[:5]

'Pytho'

In [83]:
statement[4:]

'on programming is fun'

In [84]:
statement

'Python programming is fun'

In [85]:
statement[4]

'o'

In [ ]:
batch = "5 girls 3 boys in a class"


girls = batch[ :8]
print(girls)

#print(batch[ 8: ])

In [90]:
# Slicing by specifing range

nums = '123456789'
even_nums = nums[0::2]



print(even_nums)

13579

In [89]:
nums[1::3]

'258'

In [31]:
# printing odd_nums
odd_nums = nums[0::2]
print(odd_nums)

13579

In [92]:
# Membership 
String = "John! Did you attend the conference on advanced machine learning"
print( 'John' in String)
print ( 'David' not in String)

True
True

In [95]:
"Conference" in String  ## Python is case sensitive

False

In [ ]:
!=

==

In [96]:
# Repetition

String = "abcd"
print (String*4)

abcdabcdabcdabcd

#### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [100]:
# upper() 
small = "i am upper cased"
print(small.upper())

I AM UPPER CASED

In [ ]:
print(string1.upper())
print(string1.lower())

In [101]:
# lower() 
large = "I AM LOWER CASED"
print(large.lower())

i am lower cased

In [40]:
# rstrip () function
## removes extra space from the right
some_sentence = "There is a space at the end    "


print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [102]:
increment = '4%'
print(increment.rstrip('%'))

4

In [2]:
# lstrip() function
## removes extra space from the left

start = "   There is space at the start"
print(start)

start = "   There is no space at the start"

print(start.lstrip())

   There is space at the start
There is no space at the start

In [42]:
# strip() function 
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [103]:
clean_this_string = "@@@@@@@machine_learning_module%%%%%%"

In [104]:
clean_this_string

'@@@@@@@machine_learning_module%%%%%%'

In [105]:
cleaned_string = "machine_learning_module"

In [106]:
cleaned_string

'machine_learning_module'

In [107]:
clean_this_string.rstrip("%").lstrip("@")

'machine_learning_module'

In [109]:
clean_this_string.strip("%""@")

'machine_learning_module'

In [57]:
num_with_chars = '******444#######'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [110]:
string.count("i")

2

In [111]:
string

'This is a sample sentence'

In [76]:
#count() Method
string = "This is a sample sentence"
print(string.count('i'))
print(string.count('i',4))

2
1

In [ ]:
My_age = "I am {} years old".format(age)

In [9]:
#r/R It is used to specify the raw string.% It is used to perform string formatting.

A = "Data"
B = "Analysis"
C = "Pandas"

print("{} {} using {}".format(A,B,C))

Data Analysis using Pandas