<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequence of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [3]:
## Importing the library
import os
os.getcwd()

os.chdir("C:\\Users\\jyoti.kataria\\Desktop")
os.getcwd()

'C:\\Users\\jyoti.kataria\\Desktop'

In [2]:
L = ["India", 23, 6, "Mumbai"]

print(L)

['India', 23, 6, 'Mumbai']

In [3]:
# Nested List ( consists of a list in another list)

L = ["Chemistry", "Biology", [1989, 2004]]

L

['Chemistry', 'Biology', [1989, 2004]]

In [6]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004]]

L[0]

'Chemistry'

In [7]:
L[-3]

'Chemistry'

In [9]:
# Slicing

L[0:2]

['Chemistry', 'Biology']

In [10]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], "Physics"]


new_L = L + [5, 8]

print(new_L)

['Chemistry', 'Biology', [1989, 2004], 'Physics', 5, 8]

In [12]:
# Replace "Biology" with "Physics" ## Lists are mutable data structures

L = ["Chemistry", "Biology", [1989, 2004]]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004]]

In [13]:
# extend() ## Adds another list elements one by one

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [15]:
# append() ## It adds another list in one shot and the list remains a list

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [ ]:
#Make a list of your three favourite subjects and then add two more subject which you dont like in the new list and print

In [19]:
Subjects = ["R-Dna", "Genetics", "Evolution"]

Subjects.append(["Mathematics", "History"]) 

print(Subjects)

['R-Dna', 'Genetics', 'Evolution', ['Mathematics', 'History']]

In [20]:
Subjects[3]

['Mathematics', 'History']

In [17]:
Subjects = ["R-Dna", "Genetics", "Evolution"]

Subjects.extend(["Mathematics", "History"]) 

print(Subjects)

['R-Dna', 'Genetics', 'Evolution', 'Mathematics', 'History']

In [18]:
Subjects[3]

'Mathematics'

In [21]:
# del Command will help us to delete the element of this list with the index given

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [22]:
# pop()  ## Deletes the last element from the list

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [23]:
# remove() ## To delete list element with the element name itself

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [24]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [26]:
l.sort(reverse = True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [27]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [28]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)  ## Not use/ cant use A.sort()

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [35]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

'INR'

In [31]:
#Make a dictionary of three modules you have been taught till now and with the teacher name

Wrestlers = {"John Cena" : 62, "Big Show" : 46, "Jeff Hardy" : 52, "Matt Hardy" : 47}

In [32]:
Wrestlers

{'John Cena': 62, 'Big Show': 46, 'Jeff Hardy': 52, 'Matt Hardy': 47}

In [33]:
Wrestlers["Big Show"]

46

In [36]:
d

{'India': 'INR', 'USA': 'USD', 'France': 'Euros'}

In [38]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros'}

In [39]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'Yen'}

In [40]:
# Deleting a key value pair

del d["France"]

d

{'India': 'Rs', 'USA': 'USD', 'Japan': 'Yen'}

In [41]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [42]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [43]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [44]:
# Update() method

d.update({'India':'Rupee'})
d

{'India': 'Rupee', 'USA': 'USD', 'France': 'Euros'}