In [ ]:
# import the required libraries

import pandas as pd

In [ ]:
# reading the dataset

data = pd.read_csv("data.csv")

In [ ]:
# Seeing the dimensions of the df dataframe

data.shape

(699, 11)

In [ ]:
# top 5 rows

data.head(7)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2
5,1017122,8,10,10,8,7.0,10,9,7,1,4
6,1018099,1,1,1,1,2.0,10,3,1,1,2

In [ ]:
# bottom 5 rows

data.tail(2)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [ ]:
df.tail(10)

In [ ]:
# Seeing the names of the columns in the dataframe

data.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [ ]:
data[["Clump_Thickness", "Cancer_Type"]]

     Clump_Thickness  Cancer_Type
0                  5            2
1                  5            2
2                  3            2
3                  6            2
4                  4            2
..               ...          ...
694                3            2
695                2            2
696                5            4
697                4            4
698                4            4

[699 rows x 2 columns]

In [ ]:
# Selecting a single column

df['Bare_Nuclei']

In [ ]:
# selecting multiple columns using names

df[['Bare_Nuclei', 'Cancer_Type']]

In [ ]:
data["Cancer_Type"].value_counts()

2    458
4    241
Name: Cancer_Type, dtype: int64

In [ ]:
data.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [ ]:
2 : benign
4 : malignant

In [ ]:
1 : benign 
0 : malignant
    
    
2: benign/A